<div class="ng-cloak">
  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Compose Identity</h1>
    </div>
  </div>

  <div ng-controller="ComposeIdentityController as model">
    <div class="row">
      <div class="col-md-12">
        Select this credential to fulfill the request?<br/>
        <pre class="pre-scrollable">{{model.identity | json}}</pre>

        <button ng-click="model.transmit(model.identity)" type="button"
          class="btn btn-primary">Compose Credential</button>
      </div>
    </div>
  </div>

</div>
