<div class="ng-cloak">
  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Store Credentials</h1>
    </div>
  </div>

  <div ng-controller="StoreCredentialsController as model">
    <div class="row">
      <div class="col-md-12">
        <h4>Do you want to store this credential?</h4>

        <pre class="pre-scrollable">{{model.identity|json}}</pre>

        <button ng-click="model.store()" type="button"
          class="btn btn-primary">Store Credential</button>
      </div>
    </div>
  </div>

</div>
