<div class="ng-cloak">
  <div ng-if="model.loading">
    <span>
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
  </div>

  <div ng-if="!model.loading && model.view === 'get'">
    <div class="row">
      <div class="col-md-12">
        <h1 class="headline">Select Credentials</h1>
      </div>
    </div>

    <div class="row">
      <br-identity-composer
        br-consumer-query="model.query"
        br-identity="model.identity"
        br-callback="model.complete(identity)">
      </br-identity-composer>
    </div>
  </div>

  <div ng-if="!model.loading && model.view === 'store'">
    <div class="row">
      <div class="col-md-12">
        <h1 class="headline">Store Credentials</h1>
      </div>
    </div>

    <div class="row">
      <h4>Would you like to store these credentials for future use?</h4>
      <!-- FIXME: use br-identity -->
      <div ng-repeat="credential in model.identity.credential">
        <br-credential
          br-credential="credential['@graph']"
          br-show-actions="false"></br-credential>
      </div>
    </div>

    <div class="row">
      <button ng-click="model.complete(model.identity)" type="button"
        class="btn btn-primary">Store Credentials</button>
    </div>
  </div>
</div>
