<div class="ng-cloak">
  <div ng-if="model.loading">
    <span>
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
  </div>

  <div ng-if="!model.loading && model.view === 'get'">
    <div class="row">
      <br-identity-composer
        br-credential-query="model.query"
        br-identity="model.identity"
        br-on-composed="model.complete(profile)">
      </br-identity-composer>
    </div>
  </div>

  <div class="credential-task-store" ng-if="!model.loading && model.view === 'store'">
    <!-- help text shown outside iframe -->
    <!-- <h4>Would you like to store these credentials for future use?</h4> -->
    <!-- FIXME: use br-identity -->
    <div class="credential-task-credentials">
      <div class="credential-task-credential" ng-repeat="credential in model.credentials">
        <br-credential
          br-credential="credential"
          br-show-actions="false"
          br-options="{
            displayer: {style: {width: '80vw'}}
          }">
        </br-credential>
      </div>
    </div>
    <div class="credential-task-actions">
      <!-- help text shown outside iframe -->
      <!--<strong>Store this item?</strong>-->
      <button ng-click="model.complete(null)"
        type="button" class="btn btn-default">Deny
      </button>
      <button ng-click="model.complete(model.identity)"
        type="button" class="btn btn-default">Allow
      </button>
    </div>
  </div>
</div>
