<div class="ng-cloak">
  <div ng-if="$ctrl.loading">
    <span>
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
  </div>

  <div ng-if="!$ctrl.loading && $ctrl.view === 'get'">
    <div class="row">
      <br-identity-composer
        br-credential-query="$ctrl.query"
        br-identity="$ctrl.identity"
        br-on-composed="$ctrl.complete(profile)">
      </br-identity-composer>
    </div>
  </div>

  <div class="credential-task-store" ng-if="!$ctrl.loading && $ctrl.view === 'store'">
    <!-- help text shown outside iframe -->
    <!-- <h4>Would you like to store these credentials for future use?</h4> -->
    <!-- FIXME: use br-identity -->
    <div class="credential-task-credentials">
      <div class="credential-task-credential" ng-repeat="credential in $ctrl.credentials">
        <br-credential
          br-credential="credential"
          br-show-actions="false"
          br-options="{
            displayer: {style: {width: '80vw'}}
          }">
        </br-credential>
      </div>
    </div>
    <div class="credential-task-actions">
      <!-- help text shown outside iframe -->
      <!--<strong>Store this item?</strong>-->
      <button ng-click="$ctrl.complete(null)"
        type="button" class="btn btn-default">Deny
      </button>
      <button ng-click="$ctrl.complete($ctrl.identity)"
        type="button" class="btn btn-default">Allow
      </button>
    </div>
  </div>
</div>
