<!-- FIXME: removing spinner for now -->
<!-- <div ng-if="$ctrl.loading">
  <div class="row">
    <div class="col-xs-12" style="font-size: small">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </div>
  </div>
</div> -->
<div ng-if="!ctrl.loading">
  <div ng-if="$ctrl.view === 'get' && $ctrl.identity" style="display:flex;flex-direction:column;flex-wrap:wrap;height:100vh;">
    <div style="flex:1;align-self:flex-start;margin:auto;">
      <br-identity-composer
        br-credential-query="$ctrl.query"
        br-identity="$ctrl.identity"
        br-on-composed="$ctrl.complete(profile)">
      </br-identity-composer>
    </div>
  </div>

  <!-- <div class="credential-task-store" ng-if="$ctrl.view === 'store'"> -->
  <div style="display:flex;flex-direction:column;flex-wrap:wrap;height:100vh;" ng-if="$ctrl.view === 'store'">
    <!-- help text shown outside iframe -->
    <!-- <h4>Would you like to store these credentials for future use?</h4> -->
    <!-- FIXME: use br-identity -->
    <div style="flex:1;align-self:flex-start;margin:auto;">
      <div class="credential-task-credential" ng-repeat="credential in $ctrl.credentials"
        style="width:100%">
        <br-credential
          br-credential="credential"
          br-show-actions="false"
          br-options="{
            displayer: {style: {width: '95vw'}}
          }">
        </br-credential>
      </div>
    </div>
    <div style="flex:0 1 auto;align-self:flex-end;">
      <button ng-click="$ctrl.complete(null)"
        type="button" class="btn btn-default">Deny
      </button>
      <button ng-click="$ctrl.complete($ctrl.identity)"
        type="button" class="btn btn-default">Allow
      </button>
    </div>
  </div>
</div>
