<div ng-if="!ctrl.loading" style="background-color: white">
  <div style="display:flex;flex-direction:column;flex-wrap:wrap">
    <!-- help text shown outside iframe -->
    <!-- <h4>Would you like to store these credentials for future use?</h4> -->
    <!-- FIXME: use br-identity -->
    <div style="flex:1;align-self:flex-start;margin:auto;">
      <pre ng-repeat="credential in $ctrl.credentials">
        {{credential|json}}
      </pre>
      <div class="credential-task-credential" ng-repeat="credential in $ctrl.credentials"
        style="width:100%">
        <br-credential
          br-credential="credential"
          br-show-actions="false"
          br-options="{
            displayer: {style: {width: '95vw'}}
          }">
        </br-credential>
      </div>
    </div>
    <div style="flex:0 1 auto;align-self:flex-end;">
      <button ng-click="$ctrl.store(null)"
        type="button" class="btn btn-default">Deny
      </button>
      <button ng-click="$ctrl.store($ctrl.identity)"
        type="button" class="btn btn-default">Allow
      </button>
    </div>
  </div>
</div>
